<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome to ShareSpace</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="welcome-container">
      <!-- Left Section (Welcome Text) -->
      <div class="left-section">
        <h1>Welcome to ShareSpace</h1>
        <p>Manage your house effortlessly with ShareSpace. From task assignments and expense tracking to mood check-ins and insights, we make shared living simple and enjoyable.</p>
        <div class="welcome-links">
            <a href="users/login">Login</a>
            <a href="users/register">Register</a>
        </div>
      </div>

      <!-- Right Section (Avatar and Links) -->
      <div class="right-section">
        <img src="../images/original.png" alt="">
        
      </div>
    </div>
  </body>
</html>
